In [1]:
import numpy as np 
print(np.__version__)

2.2.1

In [10]:
a1 = np.array([1, 2, 3])

a2 = np.array([[1, 2, 3], [4, 5, 6]])

a3 = np.array([[[1, 2, 3],
                 [4, 5, 6], 
                 [7, 8, 9]],
                 [[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]]])
print(a1.ndim)
print(a2.ndim) 
print(a3.ndim)
a3.shape
a3.dtype
a3.size

1
2
3

18

In [16]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1000000000, size=(5,3)), columns=['a', 'b', 'c'])
df

           a          b          c
0  108108681  626937618  145278386
1  973827755   65839304  407241496
2  829720052  972444962   77359671
3  538734888  447933991  233462645
4  951941295  977651304  734971987