In [22]:
import numpy as np 
print(np.__version__)

2.2.1

In [23]:
a1 = np.array([1, 2, 3])

a2 = np.array([[1, 2, 3], [4, 5, 6]])

a3 = np.array([[[1, 2, 3],
                 [4, 5, 6], 
                 [7, 8, 9]],
                 [[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]]])
print(a1.ndim)
print(a2.ndim) 
print(a3.ndim)
a3.shape
a3.dtype
a3.size

1
2
3

18

In [24]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1000000000, size=(5,3)), columns=['a', 'b', 'c'])
df

           a          b          c
0  422296123  260306057  265093114
1  700356955  110650952  891411073
2  225710044  181296891  267348946
3  544646847  210869244  875215795
4  184062948  365451383  207461970

In [25]:
ones = np.ones((10,2))
ones

zero = np.zeros((10,2))
zero

one_int = ones.astype(int)
one_int

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [28]:
array1 = np.random.random((5,20))
array1

array([[0.74138274, 0.07639202, 0.20563917, 0.10901154, 0.16906194,
        0.63428718, 0.88926238, 0.43904233, 0.70228338, 0.12504906,
        0.12760994, 0.91346911, 0.58890138, 0.58036218, 0.55867589,
        0.66141354, 0.61647245, 0.54595589, 0.86993357, 0.5937822 ],
       [0.12351224, 0.33827853, 0.09980767, 0.75739724, 0.72192278,
        0.99702425, 0.9768512 , 0.45570452, 0.48467934, 0.31431058,
        0.14240085, 0.28448328, 0.18882052, 0.83688892, 0.52958166,
        0.11288155, 0.53849904, 0.89355761, 0.96335087, 0.40523914],
       [0.20606125, 0.60796192, 0.97166841, 0.7817113 , 0.37220244,
        0.28449722, 0.96901285, 0.24853137, 0.43773685, 0.18028388,
        0.13843856, 0.43722607, 0.85391947, 0.43332374, 0.45199067,
        0.80974329, 0.38049971, 0.70572113, 0.56793539, 0.17357265],
       [0.97866222, 0.07390076, 0.76834705, 0.28953864, 0.28908498,
        0.05570312, 0.96771665, 0.79880826, 0.20313081, 0.7124256 ,
        0.20859012, 0.28445657, 0.93750966, 0.78373146, 0.23337464,
        0.71575265, 0.41450702, 0.85260491, 0.82813745, 0.75279185],
       [0.81086538, 0.78151535, 0.87950756, 0.62777476, 0.82391885,
        0.26105146, 0.54585361, 0.6917796 , 0.81319961, 0.25990029,
        0.04158449, 0.45158085, 0.84401689, 0.65305969, 0.58617677,
        0.93927601, 0.35994896, 0.32762177, 0.1216164 , 0.33090899]])